body{
   font-family: 'Palatino Linotype', serif;
}

h1{
   font-size: large;
}

div{
   margin-top: 15px;
   margin-bottom: 20px;
}

button{
   padding: 3px;
}

#editableElement{
   background: rgb(240, 240, 240);
   padding: 5px;
}
