body{
   background: white;
}

.Toolbar{
   float: left;
   font-family: 'Trebuchet MS';
   font-size: 14px;
   font-variant: small-caps;
   text-align: center;
   background: rgb(242, 247, 254);
   padding: 10px 15px 3px 10px;
   margin-bottom: 1px;
   margin-right: 1px;
   border: 1px solid rgb(123, 137, 155);
}

.Toolbar button{
   padding: 6px;
   margin: 7px 2px;
   font-variant: normal;
   font-size: 12px;
}

.CanvasContainer{
   clear: both;
}

canvas{
   border: 1px solid rgb(123, 137, 155);
}

img{
   padding: 2px;
   border: 2px solid rgb(242, 247, 254);
}

img:hover{
   border: 2px groove rgb(228, 240, 254);
   background: white;
}

img.Selected{
   border: 2px groove rgb(228, 240, 254);
}

#savedCopyContainer{
   display: none;
}

#savedCopyContainer img{
   width: 250px;
   height: 150px;
}
