<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

<servlet>
<servlet-name>UserService</servlet-name>
<servlet-class>gface.com.server.UserServiceImpl</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>UserService</servlet-name>
<url-pattern>/gfaceg3/userService</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>GroupService</servlet-name>
<servlet-class>gface.com.server.GroupServiceImplG3</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>GroupService</servlet-name>
<url-pattern>/gfaceg3/groupService</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>UserGroupService</servlet-name>
<servlet-class>gface.com.server.UserGroupServiceImplG3</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>UserGroupService</servlet-name>
<url-pattern>/gfaceg3/userGroupService</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>PostService</servlet-name>
<servlet-class>gface.com.server.PostServiceImplG3</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>PostService</servlet-name>
<url-pattern>/gfaceg3/postService</url-pattern>
</servlet-mapping>
    
</web-app>